*{

    margin: 0;
    padding: 0;
    font-family:'Crimson';
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
/*header*/


/* CSS */
/* CSS */

  
  

/*Barra de navegación */

.navbar {

    padding: 2rem;
    background-color: white;
    margin-right: 2rem ;
    margin-left: 2rem;
    transition: background-color 0.5s, color 0.5s;
    color: black; /* Color del texto en modo claro */
  

}

.modo-oscuro .navbar {
  background-color: #333; /* Cambia este color según tu tema oscuro */
  color: #ffffff; /* Cambia este color según tu tema oscuro */
}

.navbar-collapse{

    align-items: center;
    justify-content: space-between;
    font-family:'Crimson';
    font-size: 1.3rem;

}

.modo-oscuro {
  background-color: #333;
  color: #fff;
}

.toggle-btn {

  font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.5s, color 0.5s;
}

.modo-oscuro .nav-linkactive{
  background-color: #333; 
color: white;

} 
/*FOOTER*/




footer{

    font-family:'Crimson';
    font-size: 1rem;
    margin-top: 1rem;
    background-color: #ebebeb; 
    transition: background-color 0.5s ease; 

}


footer a {
  color: #345270; 
  transition: color 0.5s ease; 
}

footer a:hover {
  color: #007bff; 
}

footer:hover {
  background-color: #b8b8b8; 
}
/*adaptable responsivo*/
@media screen and (max-width: 767px){

    .navbar-brand{
        display: none;
    }
}

/*Letra*/

@font-face {
    font-family: 'Crimson';
    src: url(/fonts/Fuentes/CRIMSON/OTF/Crimson-Bold.otf);
}

/*fondo*/



/*sobre nosotros */
.background-section {
  background-image: url("../img/Fotografias/toystoyr1.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0; /* Ajusta según tus necesidades */
  color: #fff; /* Color del texto sobre la imagen */
  margin-bottom: 3rem;
}

.interactive-box {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 50px;
  border-radius: 10px;
  height: 100%;
  transition: transform 0.3s;
}

/* Estilos adicionales para mejorar la apariencia en dispositivos más pequeños */
@media (max-width: 768px) {
  .interactive-box {
    margin-bottom: 20px;
  }
}

.interactive-box:hover {
  transform: scale(1.05);
}
  

#mision {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Misión */
  color: #000000; /* Cambia el color del texto para Misión a blanco */
}

#vision {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Visión */
  color: #000000; /* Cambia el color del texto para Visión a blanco */
}

#sobre-la-pagina {
  background-color: rgba(255, 255, 255, 0.7); /* Cambia el color de fondo para Sobre la Página */
  color: #000000; /* Cambia el color del texto para Sobre la Página a blanco */
}


/*fin sobre nosotros */


/*Reviw*/

.reviews{
margin-left: 3rem;
margin-right: 3rem;
}
.testimonials {
    margin: 0 -10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .testimonial {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.5s, color 0.5s; /* Agrega una transición suave */
  }
  .testimonial:hover {
    background: #313131; /* Cambia el fondo al pasar el cursor */
    color: #fff; /* Cambia el color del texto al pasar el cursor */
  }
  .testimonial img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 200px; /* Tamaño fijo para las imágenes */
    height: 200px; /* Tamaño fijo para las imágenes */
  }
  
  .testimonial p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .testimonial img,
  .testimonial p {
    padding: 0 10px;
  }
  
  /*preguntas y respuestas */

  /* Estilos para la sección de preguntas frecuentes */
.faq {
    background-color: #e2e2e2;
    padding: 40px 0;
    text-align: center;
  }
  
  .faq h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los acordeones */
  .accordion-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    text-align: left;
    font-weight: bold;
  }
  /* CSS para cambiar el color de fondo del botón */

  
  .accordion-button:hover {
    background-color: #c7c7c7;
  }
  
  .accordion-collapse {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: 20px;
  }
  
  .accordion-body {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Cambio de icono al expandir y colapsar */
  .accordion-button::after {
    content: "+";
  }
  
  .accordion-button[aria-expanded="true"]::after {
    content: "-";
  }
  

  /* Estilos para el formulario de Reservaciones (usando clases de Bootstrap) */
  .reservations {
    background-color: #cccccc;
    padding: 40px 0;
    text-align: center;
  }
  
  .reservations p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  /* Cambio de color del botón de envío */
  .btn-dark {
    background-color: #333;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #555;
  }


  
/*CARRUSEL */

.scope {
  position: relative;
  margin-left: 900px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transform-style: preserve-3d;
  animation: slid 30s linear infinite;
}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: lcenter;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.scope span img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}
.scope span:hover img {
  transform: translateY(-50px) scale(1.7);
}
@keyframes slid {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}




/**/






/* Servicios */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin-left: 10rem;
  margin-bottom: 5rem;

 
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 10px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  transition: transform 0.3s;
}

.grid-item:hover img {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
      gap: 10px;
  }
}

.image-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  margin: 0;
  z-index: 1;
  
}

/*servicios*/


.container h1{
  margin-bottom: 3rem;
}
/* Estilos de la sección de servicios con Bootstrap */
.service-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.service-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.service-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/* Efecto de realce al pasar el puntero */
.service-card:hover img {
  transform: scale(1.1);
}

/* Estilos de la sección de testimonios */
.reviews {
  margin-left: 3rem;
  margin-right: 3rem;
}

.testimonials {
  margin: 0 -10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.testimonial {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  transition: background-color 0.5s, color 0.5s; /* Agrega una transición suave */
}

.testimonial:hover {
  background: #313131; /* Cambia el fondo al pasar el cursor */
  color: #fff; /* Cambia el color del texto al pasar el cursor */
}

.testimonial img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  width: 200px; /* Tamaño fijo para las imágenes */
  height: 200px; /* Tamaño fijo para las imágenes */
}

.testimonial p {
  margin-top: 10px;
  font-size: 16px;
}

.testimonial img,
.testimonial p {
  padding: 0 10px;
}
/*--video-*/

video {
  width: 100%;
  height: 48rem;

}

.video-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  border-radius: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 80%; /* Ajustar el ancho del fondo semitransparente */
  max-width: 400px; /* Establecer un ancho máximo para contenido */
}

.text-overlay h1,
.text-overlay p {
  margin: 0;
}



/*-----*/



.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
}
}

/*caro*/
/*sonido*/


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



.audio{
 
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.audio-container{
    background-color: #161925;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 #1619254f;

    padding: 10px 10px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    position: relative;
    width: 110px;
  }

  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
    
  }

  .audio-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: #161925;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }


  .action-btn.action-btn-big {
    color: #ffffff;
    font-size: 20px;
  }

  .action-btn:focus {
    outline: 0;
  }

  .audio-info {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .audio-container.play .audio-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .audio-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: #161925;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #F1D302;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;
  }
